*{
    margin:0px;
    padding: 0px;
}
body {
    color: black;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

img {
    width: 1380px;
    height: 630px;
    border-radius: 25px;
    
}

/* .ex{
    width: 1300x;
    height: 295px;
}

.ex1{
    width: 1430px;
    height: 630px;
    border-radius: 25px;
} */

.center {
    text-align: center;
    align-items: center;

}

h1 {
    color: #498b6d;
    text-align: center;
}

.card {
    width: 1250px;
    height: 260px;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 5px;


}






